#scrollinspector {
    position: fixed;
    top: 0em;
    right: 0px;
    width: minmax(300px, 30%);
    max-width: 80vw;
    height: 100vh;
    padding: 5%;
    color: white;
    padding-top: 4em;
    z-index: 3;
    filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    transform: translateX(95%);
}

#scrollinspector>ul {
    background-color: rgba(0, 0, 0, .05);


    display: flex;
    flex-direction: column;
    min-height: 40vh;
    max-height: min(90%, 90vh);
    overflow-y: auto;
    padding-block: 50%;
}


#scrollinspector a {

    --sat: 10%;
    --light: 80%;
    --lightLink: 10%;
    color: hsl(var(--hueLink), var(--satLink), var(--lightLink));
    background-color: hsl(var(--hueComp), var(--sat), var(--light));
    margin-block: 1em;
}

/* #scrollinspector h3 {
    text-transform: uppercase;
} */

/* #scrollinspector::before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0px;
    background-color: hsla(0, 0%, 0%, 0.97);
    filter: blur(4px);
} */

#scrollinspector:hover {
    background-color: rgba(0, 0, 0, .6);
    transform: translateX(0%);
    filter: blur(0px);

    padding-inline: 10px;
}

a+.activesection {
    --sat: 40%;
    --light: 60%;
    background-color: hsl(var(--hueComp), var(--sat), var(--light));
}