#scrollinspector {
    position: fixed;
    top: 0em;
    right: 0px;
    width: minmax(300px, 30%);
    max-width: 80vw;
    height: 100vh;

    color: white;
    padding-top: 3em;
    z-index: 3;
    filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    --leftpadding: min(10vw, 150px);
    padding: var(--leftpadding);
    transform: translateX(calc(100% - var(--leftpadding) + 10px));
}

#scrollinspector>ul {
    background-color: hsla(var(--hueComp), 10%, 10%, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    max-height: min(calc(100% - 2em), calc(100vh - 2em));
    overflow-y: auto;
    padding-block: 50%;
}


#scrollinspector a {

    --sat: 10%;
    --light: 80%;
    --lightLink: 10%;
    color: hsl(var(--hueLink), var(--satLink), var(--lightLink));
    background-color: hsl(var(--hueComp), var(--sat), var(--light));
    margin-block: 1em;
}

/* #scrollinspector h3 {
    text-transform: uppercase;
} */

/* #scrollinspector::before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0px;
    background-color: hsla(0, 0%, 0%, 0.97);
    filter: blur(4px);
} */

#scrollinspector:hover {
    --sat: 10%;
    --light: 5%;
    background-color: hsla(var(--hueComp), var(--sat), var(--light), .8);
    transform: translateX(0%);
    filter: blur(0px);

    padding-inline: 20px;
}

a+.activesection {
    --sat: 40%;
    --light: 60%;
    background-color: hsl(var(--hueComp), var(--sat), var(--light));
}